body {
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  display: grid;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  justify-content: center;
  min-height: 100vh;
}

.card-wrapper {
  display: grid;
  gap: 23px;
}