*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary colors */
  --color-white: hsl(0, 0%, 100%);
  --color-light-blue: hsl(210, 46%, 95%);
  --color-violet: hsl(263, 55%, 52%);
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-blackish-blue: hsl(219, 29%, 14%);

  /* Neutral colors */
  --color-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  /* Measures */
  --card-small: 254px;
  --card-big: 539px;
  --card-name-size: 0.813rem;
  --card-status-size: 0.688rem;
  --card-title-size: 1.25rem;
  --quotation-right: 23px;
}

body {
  align-items: center;
  background-color: var(--color-light-blue);
  display: grid;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  justify-content: center;
  min-height: 100vh;
  padding: 24.5px;
}